<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.example.app_limiter_plugin">
  
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
      tools:ignore="ProtectedPermissions"/>
  
  <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
      tools:ignore="ProtectedPermissions"/>
  
  <application>
    <service
        android:name=".AppControlAccessibilityService"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:exported="true">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/accessibility_service_config" />
    </service>
  </application>
</manifest>
